.cartWidget {
    display: flex;
    align-items: center;
    font-size: 1.25rem; 
    padding: 0 25px;
  }
  
  .cartWidget .cartCount {
    margin-left: 0.5rem; 
  }
  
  .cartWidget a {
    text-decoration: none;
    color: inherit; /* Mantiene el color del icono */
  }
  
  .cartCount {
    margin-left: 5px;
  }