.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 20px;
  }
  
  .cardContainer {
    width: 100%;
    max-width: 900px;
    margin: 50px auto 20px;
  }

  .card-title{
    font-weight: bold;
  }
  

  