.formTitle{
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    color: #8576ff;
    margin-bottom: 35px;
}

.formContainer{
    padding: 20px;
    margin: 40px auto 60px;
    width: 60%;
}

textarea{
    height: 150px !important;
}

.btnForm {
    background-color: #8576ff !important;
    border-color: #8576ff !important;
    color: white !important;
  }
  
.btnForm:hover {
    background-color: #7bc9ff !important;
    border-color: #7bc9ff !important;
}